body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffe7a3;
  font-size: 30px;

}

a {
  color: #ffe7a3;
}

li {
  padding: 30px;
  font-size: 30px;
}

input {
  font-size: 20px;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

 button {
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: #edb63e;
}

button:hover {
  cursor: pointer;
  background-color: #bd902d;

}

